@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    color: #5A5F5B; /* Cinza Lua */
    background-color: #EADFC7; /* Bruma Clara */
}

/* Links */
a {
    color: #D4A574; /* Âmbar Suave */
}

/* Cabeçalhos */
h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #5A5F5B;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #5A5F5B;
    border-left: #6B7C61;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #5A5F5B;
}

em {
    color: #6B7C61; /* Verde Sombra */
}

p {
    margin-bottom: 1rem;
}

/* Main e seções */
main {
    background-color: #fff;
}